@model EPS.Models.NewLibraryItemModel

@using (Html.BeginForm("NewLibraryItem", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td style="text-align: right;">Item Name:</td>
            <td style="text-align: left;">
                @Html.TextBoxFor(model => model.ItemName, new { @style = "width: 150px;", @maxlength = "50" })
                <br />@Html.ValidationMessageFor(model => model.ItemName)
            </td>
            <td style="text-align: right;">Item Description:</td>
            <td style="text-align: left;">
                @Html.TextBoxFor(model => model.ItemDesc, new { @style = "width: 200px;", @maxlength = "500" })
                <br />@Html.ValidationMessageFor(model => model.ItemDesc)
            </td>
            <td><input type="submit" value="Upload New Workflow Item" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">Select the library file:</td>
            <td colspan="3" style="text-align: left;">
                @Html.TextBoxFor(model => model.LibraryPathFile, new { @style = "width: 500px;", @type = "file", @accept = ".dll" })
                <br />@Html.ValidationMessageFor(model => model.LibraryPathFile)
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">HTML Options (Optional)</td>
            <td colspan="3" style="text-align: left;">
                @Html.TextAreaFor(model => model.HtmlOptions, new { @style = "width: 500px; height: 75px;" })
            </td>
        </tr>
    </table>
}