@model PagedList.IPagedList<DataLayer.Workflow_Log>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#AuditDateFrom_Filter').datepicker();
        $('#AuditDateTo_Filter').datepicker();
    });
</script>

<div style="padding: 5px; font-size: smaller;">
    <table cellpadding="2" class="tblFilter">
        <tr>
            <td style="text-align: left; font-size: larger;"><b>Filter Options:</b></td>
            <td style="text-align: left;">
                Item Type:
            </td>
            <td style="text-align: left;">
                Item Name:
            </td>
            <td style="text-align: left;">
                Dates:
            </td>
            <td style="text-align: left;">
                Changed By:
            </td>
            <td style="text-align: left;">
                Change Type:
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("ItemType_Filter", new SelectList(ViewBag.ItemTypes, "Value", "Text", ViewBag.ItemType), new { @id = "ItemType_Filter" })
            </td>
            <td>
                @Html.DropDownList("ItemName_Filter", new SelectList(ViewBag.ItemNames, "Value", "Text", ViewBag.ItemName), new { @id = "ItemName_Filter" })
            </td>
            <td style="text-align: left;">
                <input type="text" id="AuditDateFrom_Filter" style="width: 75px;" value="@ViewBag.AuditDateFrom" />
                to
                <input type="text" id="AuditDateTo_Filter" style="width: 75px;" value="@ViewBag.AuditDateTo" />
            </td>
            <td style="text-align: left;">
                @Html.DropDownList("UserID_Filter", new SelectList(ViewBag.Users, "Value", "Text", ViewBag.AuditUser), new { @id = "UserID_Filter" })
            </td>
            <td style="text-align: left;">
                @Html.DropDownList("selUser_Filter", new SelectList(ViewBag.ChangeTypes, "Value", "Text", ViewBag.ChangeType), new { @id = "selUser_Filter" })
            </td>
            <td>
                <input type="button" value="Filter List" onclick="FilterWorkflowLog();" />
                <input type="hidden" value="@Model.PageNumber" id="hidPageNum" />
            </td>
        </tr>
    </table>
</div>

@if (Model.Count == 0)
{
    <p style="text-align: center; color: red;">No results returned</p>
}
else
{
    <table class="webgrid-table">
        <tr>
            <th>
                <a style="cursor: pointer; text-decoration: underline;" onclick="FilterWorkflowLog('ItemType','@ViewBag.SortDirection');">Item Type:</a>
            </th>
            <th>
                <a style="cursor: pointer; text-decoration: underline;" onclick="FilterWorkflowLog('ItemName','@ViewBag.SortDirection');">Item Name:</a>
            </th>
            <th>
                Change Log Text
            </th>
            <th>
                <a style="cursor: pointer; text-decoration: underline;" onclick="FilterWorkflowLog('AuditType','@ViewBag.SortDirection');">Change Type:</a>
            </th>
            <th>
                <a style="cursor: pointer; text-decoration: underline;" onclick="FilterWorkflowLog('AuditDate','@ViewBag.SortDirection');">Change Date:</a>
            </th>
            <th>
                <a style="cursor: pointer; text-decoration: underline;" onclick="FilterWorkflowLog('AuditBy','@ViewBag.SortDirection');">Changed By:</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.ChangeText)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.ChangeType)
                </td>
                <td style="text-align: left;">
                    @{ String changeDate = item.ChangeDate.ToString("MM/dd/yyyy hh:mm tt"); }
                    @changeDate
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
            </tr>
        }

    </table>
}

<div id="divPager">
    @if (Model.PageCount > 1)
    {
        @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


        @Html.PagedListPager(Model, page => Url.Action("GetWorkflowLog", new
   {
       sortOrder = ViewBag.CurrentSort,
       CurrentSort = ViewBag.CurrentSort,
       page = page,
       ItemType = ViewBag.ItemType,
       ItemName = ViewBag.ItemName,
       AuditUser = ViewBag.AuditUser,
       AuditDateFrom = ViewBag.AuditDateFrom,
       AuditDateTo = ViewBag.AuditDateTo,
       ChangeType = ViewBag.ChangeType
   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divMainLogs" }))}
</div>




