@model IEnumerable<EPS.Models.GetWorkflowModel>

<script type="text/javascript">
    var timerRunCheck = null;

    $(document).ready(function () {
        if (timerRunCheck == null) {
            timerRunCheck = window.setTimeout(function () {
                checkRuns();
            }, 5000);
        }

        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;

        var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;

        $('#lblLastCheck').text("Last Check: " + strTime);
    });

    function CancelWorkflowRun(runID) {
        var conf = confirm("Are you sure you want to cancel that run?");
        if (conf === false) {
            return;
        }

        $.ajax({
            url: '/Dashboard/CancelWorkflowRun',
            type: 'POST',
            data: { RunID: runID },
            datatype: 'json',
            cache: false,
            success: function (data) {
                if (data.Error === "") {
                    var tab = $('#GetRuns');
                    SetTab(tab);
                }
                else {
                    ShowMessage(data.Error, 'show');
                }
            }
        });
    }

    function RunWorkflowNow(runID) {
        var conf = confirm("Are you sure you want to start that scheduled run now?");
        if (conf === false) {
            return;
        }

        $.ajax({
            url: '/Dashboard/RunWorkflowNow',
            type: 'POST',
            data: { RunID: runID },
            datatype: 'json',
            cache: false,
            success: function (data) {
                if (data.Error === "") {
                    var tab = $('#GetRuns');
                    SetTab(tab);
                }
                else {
                    ShowMessage(data.Error, 'show');
                }
            }
        });
    }
</script>

<div style="text-align: center; padding: 10px;">
    See future runs?
    @Html.CheckBox("chkFutureRuns", (Boolean)ViewBag.FutureRuns, new { @id = "chkFutureRuns", @onclick = "SetTab($('#GetRuns'));" })
</div>

@if (Model.Count() == 0)
{
    <p style="text-align: center; color: red;">There are no workflows running now.</p>
}
else
{
    <div style="color: red; text-align: left; font-size: x-small;"><label id="lblLastCheck"></label></div>

    <table class="webgrid-table">
        <tr>
            <th>Run By:</th>
            <th>Start Time:</th>
            <th>Employee First Name:</th>
            <th>Employee Last Name:</th>
            <th>Item Count:</th>
            <th>Status:</th>
            <th>Run Date:</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @{ string startTime = item.StartTime.ToString("MM/dd/yyyy hh:mm tt"); }
                    @Html.DisplayFor(modelItem => startTime)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCount)
                </td>
                <td style="text-align: left; @item.RunStatusColor">
                    @Html.DisplayFor(modelItem => item.RunStatus)

                    @if (item.RunStatus == "Running")
                    {
                        <img src="~/Images/Loading.gif" style="height: 15px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunDate)
                </td>
                <td>
                    @if (item.RunDate != "" || (item.RunStatus == "Pending" && item.StartTime < DateTime.Now.AddHours(-1)))
                    {
                        <input type="button" class="RedButton" style="margin-left: 5px;" value="Cancel" onclick="CancelWorkflowRun('@item.RunID');" />
                    }

                    @if (item.RunDate != "")
                    {
                        <input type="button" style="margin-left: 5px;" value="Run Now" onclick="RunWorkflowNow('@item.RunID');" />
                    }
                </td>
            </tr>
            <tr>
                <td style="padding-left: 25px; padding-top: 10px; padding-bottom: 10px; text-align: left;" colspan="8">
                    @if (item.ResultItems.Count() == 0)
                    {
                        <p style="text-align: center; color: red;">No workflow items completed yet.</p>
                    }
                    else
                    {
                        <table style="display: inline-table;" class="webgrid-table-sub-header">
                            <tr>
                                <th>Workflow Item:</th>
                                <th>Run Start:</th>
                                <th>Run Complete:</th>
                                <th>Result:</th>
                            </tr>
                            @foreach (DataLayer.RunResult i in item.ResultItems.OrderBy(r => r.WFItemID))
                            {
                                string itemStartTime = i.TimeStarted.ToString("MM/dd/yyyy hh:mm tt");
                                string itemEndTime = i.TimeCompleted == null ? "" : Convert.ToDateTime(i.TimeCompleted).ToString("MM/dd/yyyy hh:mm tt");

                                <tr>
                                    <td style="text-align: left;">@i.WorkflowItem.LibraryItem.ItemName</td>
                                    <td>@itemStartTime</td>
                                    <td>@itemEndTime</td>
                                    <td style="text-align: left;">@i.ResultString</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>
            <tr>
                <td style="border: none; height: 10px;"></td>
            </tr>
        }
    </table>
}
